parameters:
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::bodyParams()#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::queryParams()#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getIdentity()#'
        - '#Cannot call method setPermissionService() on Solcre\SolcreFramework2\Interfaces\PermissionAwareInterface|string#'
